@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::after, ::before {
box-sizing: content-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    background-color: #000000;
}
#poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #cfa51c;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-image: url('images/gotech.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff; 
}
.login-container h2 {
    text-align: center;
    margin-bottom: 10px;
}    
.form-group {
margin-bottom: 15px;
}
.form-group button {
width: 100%;
padding: 8px;
background-color: #0747cf;
color: #fff;
border: none;
border-radius: 3px;
cursor: pointer;
margin: auto; 
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #ffffff; 
    background-color: #888e946c; 
}
.form-group button {
    width: 100%;
    padding: 8px;
    background-color: #0747cf;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
}
.forgot-password a {
    color: #007bff;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}